<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/index.css" type="text/css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Nexora Hivatalos Weboldala" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/ico" href="/img/icons/nexora_logo_tp.png" />
    <link rel="stylesheet" href="/css/transition.css" />
    <script src="/js/transitions.js"></script>
    <title>Projekt</title>

    <div class="box">
      <div class="wave -one"></div>
      <div class="wave -two"></div>
      <div class="wave -three"></div>
    </div>

    <div class="background"></div>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="/js/ui-effects.js" defer></script>
  </head>
  <body>
    <div id="particle-background"></div>

    <div class="transition transition-1 is-active"></div>
    <header>
      <button class="menu-toggle">☰</button>
      <nav class="left">
        <ul class="nav-menu">
          <li>
            <a href="/webshop" title="Webshop"><img src="/img/icons/bags-shopping.webp" alt="Webshop" /></a>
          </li>
          <li>
            <a href="/aszf" title="ÁSZF"><img src="/img/icons/terms-info.webp" alt="ÁSZF" /></a>
          </li>
        </ul>
      </nav>
      <div class="logo">
        <a href="/" title="Főoldal"><img src="/img/icons/nexora_logo_tp.webp" alt="Logo" /></a>
      </div>
      <nav class="right">
        <ul class="nav-menu2">
          <li>
            <a href="/kontakt" title="Elérhetőségek"><img src="/img/icons/clip-mail.webp" alt="Elérhetőségek" /></a>
          </li>
          <li>
            <a href="#" title="Bejelentkezés"><img src="/img/icons/profile.webp" alt="Bejelentkezés" class="floating-btn" id="floatingBtn" /></a>
          </li>
        </ul>
      </nav>
    </header>
    
    <main style="z-index: 1">
      <div class="content">
        <h1>Üdvözlünk a <span style="color: rgb(33, 204, 33); text-decoration: underline">Nexora</span> oldalán!</h1>
        <h3>
          Üdvözlünk a <span style="color: rgb(33, 204, 33)">Nexora</span> oldalán! Itt minden fontosabb információt
          megtalálsz velünk és a Webshoppal kapcsolatban!
        </h3>
        <h3>Az oldalunkon megtalálhatóak a következők:</h3>
        <ul class="fika">
          <li><a href="/webshop">Webshop</a>, itt lehet tőlünk vásárolni licenseket.</li>
          <li><a href="/aszf">ÁSZF</a> Megtekintheti Általános Szerződési Feltételeket, valamint a Gyakran ismételt kérdéseket.</li>
          <li>
            <a href="/kontakt">Kapcsolatok</a> itt minden elérhetőségünket megtaláljátok amin/amiken keresztül fel
            tudjátok venni velünk a kapcsolatot!
          </li>
        </ul>
        <h3>Nézzen körül oldalunkon, fedezze fel katalógosunkat és ragadja meg termékeinket.</h3>
      </div>
    </main>

    <div class="popup-overlay" id="popupOverlay">
      <div class="popup" id="popupContent">
        </div>
    </div>

    <footer>

      <p>&copy; <span id="year"></span> Nexora. All rights reserved.</p>


      <script>

        document.getElementById("year").textContent = new Date().getFullYear();

      </script>

    </footer> 

    <script>
      window.loggedInUser = <%- user ? JSON.stringify(user) : 'null' %>;
    </script>
    
    <script src="/js/auth-popup.js" defer></script>
    
  </body>
</html>